__pycache__/
*.pyc
*.pyo
*.pyd
*.zip
*.tar.gz
*.h5
*.pt
*.ckpt
*.tflite
*.onnx
*.log
.idea/
.vscode/
.env
.env.*
*.db
*.ipynb
.git/
.gitattributes
.gitignore
.DS_Store
*.jpg
*.jpeg
*.png
*.mp4
venv/
models/
data/
